.PreviewWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    max-width: 600px;
    max-height: 600px;
    color: transparent;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}    

.PreviewWrapper img {
    width: 95%;
    height: 95%;
    object-fit: contain;
    text-indent:-9999px;
    border: none;
}

.PreviewWrapper img:not([src]) {
    visibility: hidden;
 }

 @media screen and (max-width: 1100px) {
    .PreviewWrapper{
         width: 400px;
         max-width: 400px;
         height: 380px;
    }
 }