.MemeContainer {
    display: flex;
    max-width: 110px;
    height: 110px;
    border: 0.5px solid;
    margin: 3px;
}

.MemesSection {
    margin-bottom: 30px;
}

img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
