button {
  display: flex;
  border: 0;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: #21aa93;
  color: white;
  transition: all.5s ease;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  opacity: 0.5;
}

.ButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.ButtonWrapper a {
  text-decoration: none;
}

.custom-file-input {
  color: transparent;
  width: 122px;
  height: 50px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload file';
  color: white;
  display: inline-block;
  background: #21aa93;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  transition: all.5s ease;
  font-size: 1rem;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #E0F2F1;
  border-radius: 5px;
  width: 30%;
  height: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-weight: bold;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #21aa93;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.content input {
  width: 500px;
  margin: 20px;
}

.SocialMediaWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}