button {
    display: flex;
    border: 0;
    outline: none;
    border-radius: 5%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: #1ab188;
    color: white;
    transition: all.5s ease;
    margin: 10px;
}

.ButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
}