.EditorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
}

.EditorWrapper * + * {
  margin-top: 30px;
}

.EditorWrapper input {
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  padding: 5px;
  height: 40px;
  width: 75%;
  border-radius: 5px;
}

