.EditorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 90%;
  width: 90%;
  background-color: white;
  margin-top: 20px;
}

.EditorWrapper * + * {
  margin-top: 30px;
}

.EditorWrapper input {
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  width: 75%;
  border-radius: 5px;
}
