.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
  color: white;
  font-size: calc(40px + 2vmin);
  padding: 10px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa, 6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}

@media screen and (max-width: 500px) {
  .Header {
    font-size: calc(27px + 2vmin);
    margin: 5px;
  }  
}

@media screen and (max-width: 1000px) {
  .Header {
    font-size: calc(30px + 2vmin);
  }  
};