.MemesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
  max-width: 1100px;
}

.MemesSection {
  margin: 0px;
  color: white;
  font-size: calc(30px + 2vmin);
  font-size: bold;
  text-shadow: 
  1px 1.5px 0 #333, 
  0px 1.5px 0 #333, 
  -1.5px -1.5px 0 #333, 
  -1.5px -1.5px 0 #333, 
  -1.5px 1.5px 0 #333, 
  1.5px -1.5px 0 #333, 
  0.6px 0.6px 0 #aaaaaa, 
  1.2px 1.2px 0 #aaaaaa, 
  1.8px 1.8px 0 #aaaaaa, 
  2.4px 2.8px 0 #aaaaaa, 
  3.0px 3.5px 0 #aaaaaa, 
  3.6px 3.6px 0 #aaaaaa, 
  4.2px 4.2px 0 #aaaaaa, 
  4.8px 4.8px 0 #aaaaaa, 
  5.4px 5.4px 0 #aaaaaa, 
  6.0px 6.0px 0 #aaaaaa;
}

.MemeCollection {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}