.App {
  text-align: center;
  min-height: 100vh;
  margin: 0px;
  background-color: white;
  align-items: center;
}

.PanelsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  padding: 10px;
  margin: 10px;
  background-color: #092532;
  border-radius: 5px;

}

.ButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .PanelsWrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }; 

  .Panel {
    width: 300px;
  }
} 
